/* Fonts files */
.opn-reg {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}
.opn-bold {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
}
.montserrat-400 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}
.montserrat-700 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}
.montserrat-900 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
}
/* Base colors */
/* Base settings */
body {
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  color: #4f4f4f;
  background-color: #f9f9f9;
}
input:focus,
button:focus {
  outline: none;
}
h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 24px;
  margin-top: 0;
  text-align: center;
}
h3 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 18px;
  margin-top: 0;
}
h4 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 14px;
  margin-top: 0;
}
p {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 14px;
}
.container {
  width: 1141px;
  padding-left: 0;
  padding-right: 0;
}
.main-head {
  margin-top: 33px;
  width: 1132px;
  height: 109px;
  margin-left: 4px;
  margin-right: 0;
  justify-content: center;
}
.main-address {
  width: 170px;
  padding-left: 0;
  padding-right: 0;
  margin-left: 65px;
  margin-top: 2px;
}
.main-address p {
  margin: 0 0 0px;
}
.main-logo {
  display: inline;
  padding-left: 0;
  padding-right: 0;
}
.main-iqon {
  margin-top: 5px;
  width: 170px;
  padding-left: 0;
  padding-right: 0;
}
.main-online {
  width: 170px;
  padding-left: 0;
  padding-right: 0;
  margin-top: 5px;
  margin-left: 9px;
}
.main-online-ellipse {
  display: inline-block;
  width: 6px;
  height: 6px;
  background-color: #1ADC2D;
  border-radius: 40px;
}
.main-online-text {
  display: inline-block;
  margin-left: 5px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-weight: bold;
  font-size: 15px;
}
.main-online-email {
  width: 170px;
  margin-left: 15px;
  margin-top: -5px;
}
.main-telefon {
  margin-top: 5px;
  width: 170px;
  display: inline-block;
  padding-left: 0;
  padding-right: 0;
  font-weight: bold;
}
.main-telefon p {
  margin-bottom: 5px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 15px;
}
.main-button {
  display: inline-block;
  padding-left: 0;
  padding-right: 0;
  right: 0;
}
.main-button .btn {
  width: 191px;
  height: 56px;
  background-color: #ffd12d;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-weight: bold;
  border-radius: 6px;
}
.main-iqon-circle {
  display: inline-block;
  width: 42px;
  height: 42px;
  border-radius: 40px;
  background-color: #ffffff;
  margin-left: 8px;
  box-shadow: 0px 0px 30px -10px rgba(20, 20, 21, 0.3);
}
.main-iqon-circle:hover {
  box-shadow: 0px 0px 10px 0px rgba(20, 20, 21, 0.5);
}
.viber img {
  margin-left: 50%;
  margin-left: 13px;
  margin-top: 50%;
  margin-top: 13px;
}
.whatsapp img {
  margin-left: 50%;
  margin-left: 11px;
  margin-top: 50%;
  margin-top: 9px;
}
.telegram img {
  margin-left: 50%;
  margin-left: 10px;
  margin-top: 50%;
  margin-top: 13px;
}
.hero {
  margin-left: 0;
  width: 1141px;
  height: 544px;
  background-image: url(../img/hero.jpg);
}
.hero-left {
  margin-top: 92px;
  margin-left: 86px;
}
.hero-left-row {
  padding-left: 15px;
}
.hero-left-header {
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  font-size: 28px;
  line-height: 137.4%;
  color: #FFFFFF;
}
.hero-left-header span {
  color: #FFD12D;
}
.hero-left-tex {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #FFFFFF;
  margin-top: 7px;
}
.hero-left-guarantee {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
  margin-top: 30px;
}
.hero-left-guarantee span {
  color: #FFD12D;
}
.hero-left-advantages {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 14px;
  width: 455px;
  height: 108px;
  margin-left: -5px;
  margin-top: 40px;
  color: #ffffff;
  display: flex;
}
.hero-left-advantages-bottom {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 14px;
  width: 455px;
  height: 70px;
  margin-left: -5px;
  margin-top: -40px;
  color: #ffffff;
  display: flex;
}
.hero-left-item {
  width: 180px;
  height: 42px;
  padding: 0;
  margin-right: 30px;
}
.hero-left-item-right {
  width: 232px;
  height: 42px;
  padding: 0;
}
.hero-left-img {
  width: 42px;
  height: 42px;
  padding: 0;
}
.hero-left-bodyl {
  width: 138px;
  height: 42px;
  padding-left: 6px;
  padding-right: 0;
}
.hero-left-bodyl p {
  position: absolute;
  top: 50%;
  margin-top: -11px;
}
.hero-left-bodyr {
  width: 190px;
  height: 42px;
  padding-left: 6px;
  padding-right: 0;
}
.hero-left-bodyr p {
  position: absolute;
  top: 50%;
  margin-top: -19px;
}
.hero-right {
  width: 484px;
}
.hero-right-wrapper {
  width: 364px;
  height: 384px;
  border: solid 4px #FFD12D;
  margin-top: 80px;
  margin-left: 12px;
}
.hero-right-wrapper-day {
  margin-top: 50px;
}
.hero-right-wrapper-day p {
  color: #fff;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 0.9;
}
.hero-right-wrapper-arhi {
  margin-top: 20px;
}
.hero-right-wrapper-arhi p {
  color: #fff;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 0.9;
}
.hero-right-wrapper-input {
  text-align: center;
  margin-top: 20px;
}
.hero-right-wrapper-input input {
  width: 264px;
  height: 56px;
}
.hero-right-wrapper-input ::placeholder {
  color: #BDBDBD;
  padding-left: 20px;
}
.hero-right-wrapper-button {
  text-align: center;
  margin-top: 20px;
}
.hero-right-wrapper-button-btn {
  width: 264px;
  height: 70px;
  background-color: #ffd12d;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  line-height: 0.7;
  border-radius: 6px;
  border: 0;
}
.hero-right-wrapper-button-btn span {
  font-weight: bold;
}
.hero-right-wrapper-button-btn p {
  margin-top: 8px;
}
.video {
  display: inline-block;
}
.video-btn {
  width: 306px;
  height: 54px;
  background-color: #ffd12d;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-weight: bold;
  border-radius: 6px;
  border: 0;
  padding: 0;
}
.video-btn img {
  margin-right: 20px;
}
.video-button {
  padding-left: 0;
  margin-left: 15px;
}
.left-row-button {
  margin-left: -9px;
}
.minuta-wrapper {
  width: 1140px;
  height: 417px;
  margin: 86px auto;
}
.minuta-wrapper-title {
  width: 617px;
  height: 58px;
  margin: 0 auto;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}
.minuta-wrapper h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 0.8;
  text-shadow: 0px 2px 5px #928c8c;
  color: #4F4F4F;
  margin-top: 4px;
}
.minuta-wrapper h2 span {
  color: #ffd12d;
}
.minuta-wrapper-body {
  width: 1180px;
  height: 313px;
  margin: 46px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: -20px;
}
.minuta-wrapper-body-item1 {
  -webkit-box-shadow: 0px 6px 9px 0px #b09797 ;
  -moz-box-shadow: 0px 6px 9px 0px #b09797 ;
  box-shadow: 0px 6px 9px 0px #b09797 ;
  border-radius: 0 0 6px 6px;
}
.minuta-wrapper-body-item1-img {
  width: 267px;
  height: 208px;
}
.minuta-wrapper-body-item1-text {
  width: 267px;
  margin-top: 37px;
}
.minuta-wrapper-body-item1-text h4 {
  color: #4F4F4F;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 14px;
}
.ppp {
  width: 215px;
  margin: 0px auto;
}
.help {
  height: 599px;
  -webkit-box-shadow: 0px 0px 15px 4px #e5dddd ;
  -moz-box-shadow: 0px 0px 15px 4px #e5dddd ;
  box-shadow: 0px 0px 15px 4px #e5dddd ;
}
.help-wr {
  width: 946px;
  height: 459px;
  margin: 70px auto;
}
.help-wr-litem {
  width: 364px;
  height: 459px;
  padding: 0;
}
.help-wr-litem-title {
  width: 364px;
  height: 44px;
}
.help-wr-litem-title h3 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 18px;
  margin-top: 0;
  color: #4F4F4F;
}
.help-wr-ritem {
  width: 518px;
  height: 459px;
  margin-top: 0;
  padding: 0;
  margin-left: 62px;
}
.help-wr-ritem-text {
  width: 138px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #4F4F4F;
}
.help-wr-ritem-text ul li {
  display: inline;
}
.help-wr-ritem-text ul li span {
  width: 73px;
  height: 4px;
  background-color: #ffd12d;
}
.dev {
  margin-top: 31px;
  margin-left: 0;
  color: #4F4F4F;
}
.dev p {
  color: #4F4F4F;
}
.help-wr-ritem {
  width: 518px;
  height: 459px;
  margin-top: 0;
}
.help-wr-ritem-text {
  padding: 0;
}
.help-wr-ritem-dot {
  padding: 0;
}
.help-wr-ritem-dot-item {
  display: inline-block;
  width: 74px;
  height: 4px;
  background-color: #E3E3E3;
  border-radius: 2px;
  margin-left: 9px;
}
.help-wr-ritem-title {
  width: 379px;
  height: 28px;
  padding: 0;
  margin-top: 45px;
}
.help-wr-ritem-title p {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 24px;
}
.help-wr-ritem-body {
  width: 251px;
  height: 200px;
  padding: 0;
  margin-top: 30px;
  -webkit-box-shadow: 0px 0px 15px 4px #e5dddd ;
  -moz-box-shadow: 0px 0px 15px 4px #e5dddd ;
  box-shadow: 0px 0px 15px 4px #e5dddd ;
}
.help-wr-ritem-body-text {
  width: 197px;
  height: 76px;
  padding: 0;
  margin: 22px 10px 0 30px;
}
.help-wr-ritem-body-text p {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.1;
}
.help-wr-ritem-body-btn {
  width: 518px;
  height: 123px;
  padding: 0;
}
.help-wr-ritem-body-btn-button {
  width: 170px;
  height: 56px;
}
.help-wr-ritem-body-btn-button-item {
  width: 170px;
  height: 56px;
  background-color: #ffd12d;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  color: #4F4F4F;
  border-radius: 6px;
  border: 0;
  padding: 0;
  margin-left: 348px;
  margin-top: 78px;
}
.help-wr-ritem-body-btn-button-item p {
  font-weight: bold;
}
.one {
  background-color: #ffd12d;
}
.rrr {
  margin-left: 14px;
}
.rrrr {
  margin-top: 22px;
  margin-bottom: 16px;
}
/* для элемента input c type="radio" */
.custom-radio {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
/* для элемента label связанного с .custom-radio */
.custom-radio + label {
  display: inline-flex;
  align-items: center;
  user-select: none;
}
/* создание в label псевдоэлемента  before со следующими стилями */
.custom-radio + label::before {
  content: '';
  display: inline-block;
  width: 1em;
  height: 1em;
  flex-shrink: 0;
  flex-grow: 0;
  border: 2px solid #adb5bd;
  border-radius: 50%;
  margin-right: 0.5em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 80% 80%;
}
/* стили при наведении курсора на радио */
.custom-radio:not(:disabled):not(:checked) + label:hover::before {
  border-color: #ffd12d;
}
/* стили для активной радиокнопки (при нажатии на неё) */
.custom-radio:not(:disabled):active + label::before {
  background-color: #b3d7ff;
  border-color: #b3d7ff;
}
/* стили для радиокнопки, находящейся в фокусе */
.custom-radio:focus + label::before {
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}
/* стили для радиокнопки, находящейся в фокусе и не находящейся в состоянии checked */
.custom-radio:focus:not(:checked) + label::before {
  border-color: #ffd12d;
}
/* стили для радиокнопки, находящейся в состоянии checked */
.custom-radio:checked + label::before {
  border-color: #ffd12d;
  background-color: #ffd12d;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e");
}
.radio label {
  padding: 0 50px 0 23px;
  margin-top: 20px;
}
/* Section house */
.house {
  height: 395px;
  padding: 0;
  margin: 120px auto;
}
.house-wr {
  position: relative;
}
.house-wr-litem {
  position: absolute;
  height: 395px;
  width: 558px;
  padding: 0;
  left: 0;
  margin-left: 15px;
}
.house-wr-litem-title h2 {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 24px;
}
.house-wr-litem-toptext {
  width: 459px;
  height: 57px;
  margin-top: 16px;
}
.house-wr-litem-toptext p {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 14px;
}
.house-wr-litem-toptext p span {
  text-decoration-line: underline;
  font-weight: bold;
}
.house-wr-ritem {
  position: absolute;
  margin-left: 455px;
}
.house-wr-body {
  height: 213px;
  width: 558px;
  margin-top: 181px;
  margin-left: 14px;
}
.house-wr-body-leftbody {
  height: 213px;
  width: 270px;
  padding: 0;
}
.house-wr-body-leftbody-title h3 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 18px;
  margin-top: 24px;
  margin-bottom: 0px;
}
.house-wr-body-leftbody-text p {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 14px;
  margin-top: 16px;
}
.house-wr-body-rightbody {
  height: 213px;
  width: 270px;
  margin-left: 14px;
  padding: 0;
}
.application-wr {
  height: 274px;
  width: 1140px;
  margin: 0 auto;
}
.application-wr-title {
  height: 58px;
  width: 655px;
  margin: 0 auto;
}
.application-wr-title h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 24px;
  margin-top: 0;
  text-align: center;
}
.application-wr-body {
  width: 1140px;
  margin: 30px auto;
  -webkit-box-shadow: 0px 0px 15px 4px #e5dddd ;
  -moz-box-shadow: 0px 0px 15px 4px #e5dddd ;
  box-shadow: 0px 0px 15px 4px #e5dddd ;
  display: flex;
  height: 186px;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}
.application-wr-body-item {
  width: 20%;
  height: 86px;
  margin: 20px;
  padding: 0px;
}
.application-wr-body-item p {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 14px;
}
.app {
  margin-top: 0;
}
.app input {
  width: 250px;
  height: 56px;
  border: 1px solid #CCCCCC;
}
.appp button {
  margin-top: 30px;
  width: 230px;
}
.project {
  height: 333px;
  margin: 120px auto;
  margin-bottom: 20px;
}
.project-body {
  height: 272px;
  margin: 34px auto;
  margin-bottom: 0;
}
.project-body-left {
  height: 272px;
  width: 445px;
  margin: 0 auto;
  padding: 0;
}
.project-body-right {
  height: 272px;
  width: 592px;
  margin-left: 44px;
  padding: 0;
}
.project-body-right-title {
  height: 44px;
  width: 592px;
  margin-left: 62px;
}
.project-body-right-text {
  margin-top: 14px;
  margin-left: 62px;
}
.project-body-right-img {
  height: 132px;
  width: 649px;
  margin: 61px auto;
  margin-bottom: 0;
  margin-left: 16px;
}
.project-body-right-img-item1 {
  width: 40px;
  padding: 0;
  margin-top: 54px;
}
.project-body-right-img-item2 {
  width: 173px;
  height: 132px;
  margin-left: 10px;
  padding: 0;
}
.project-body-right-img-item3 {
  width: 173px;
  height: 132px;
  margin-left: 10px;
  padding: 0;
}
.project-body-right-img-item4 {
  width: 173px;
  height: 132px;
  margin-left: 10px;
  padding: 0;
}
.project-body-right-img-item5 {
  width: 40px;
  padding: 0;
  margin-top: 54px;
  margin-left: 5px;
}
.reviews {
  height: 335px;
  margin: 120px auto;
}
.reviews-body {
  height: 260px;
  width: 1140px;
  margin: 46px auto;
  position: relative;
  border-radius: 6px;
}
.reviews-body-item1 {
  height: 260px;
  width: 364px;
  margin-left: 0;
  padding: 0;
  margin-top: -15px;
}
.reviews-body-item1 img {
  position: absolute;
  margin-top: -15px;
  margin-left: 40px;
}
.reviews-body-item1-box {
  height: 245px;
  width: 364px;
  margin-top: 15px;
  margin-left: 0;
  padding: 0;
  -webkit-box-shadow: 0px 0px 15px 4px #e5dddd ;
  -moz-box-shadow: 0px 0px 15px 4px #e5dddd ;
  box-shadow: 0px 0px 15px 4px #e5dddd ;
  border-radius: 6px;
}
.reviews-body-item1-box-title {
  position: absolute;
  margin-top: 19px;
  width: 364px;
}
.reviews-body-item1-box-title h3 {
  margin-bottom: 0;
}
.reviews-body-item1-box-title p span {
  color: #828282;
}
.reviews-body-item1-box-title-text {
  position: absolute;
  width: 284px;
  height: 114px;
  margin-top: 88px;
  margin-left: 40px;
}
.reviews-body-item2 {
  height: 260px;
  width: 364px;
  margin-left: 0;
  padding: 0;
  margin-top: -15px;
}
.reviews-body-item2 img {
  position: absolute;
  margin-top: -15px;
  margin-left: 64px;
}
.reviews-body-item2-box {
  height: 245px;
  width: 364px;
  margin-top: 15px;
  margin-left: 24px;
  padding: 0;
  -webkit-box-shadow: 0px 0px 15px 4px #e5dddd ;
  -moz-box-shadow: 0px 0px 15px 4px #e5dddd ;
  box-shadow: 0px 0px 15px 4px #e5dddd ;
  border-radius: 6px;
}
.reviews-body-item2-box-title {
  position: absolute;
  margin-top: 19px;
  width: 364px;
}
.reviews-body-item2-box-title h3 {
  margin-bottom: 0;
}
.reviews-body-item2-box-title p span {
  color: #828282;
}
.reviews-body-item2-box-title-text {
  position: absolute;
  width: 284px;
  height: 114px;
  margin-top: 88px;
  margin-left: 40px;
}
.reviews-body-item3 {
  height: 260px;
  width: 364px;
  margin-left: 24px;
  padding: 0;
  margin-top: -15px;
}
.reviews-body-item3 img {
  position: absolute;
  margin-top: -15px;
  margin-left: 64px;
}
.reviews-body-item3-box {
  height: 245px;
  width: 364px;
  margin-top: 15px;
  margin-left: 24px;
  padding: 0;
  -webkit-box-shadow: 0px 0px 15px 4px #e5dddd ;
  -moz-box-shadow: 0px 0px 15px 4px #e5dddd ;
  box-shadow: 0px 0px 15px 4px #e5dddd ;
  border-radius: 6px;
}
.reviews-body-item3-box-title {
  position: absolute;
  margin-top: 19px;
  width: 364px;
}
.reviews-body-item3-box-title h3 {
  margin-bottom: 0;
}
.reviews-body-item3-box-title p span {
  color: #828282;
}
.reviews-body-item3-box-title-text {
  position: absolute;
  width: 284px;
  height: 114px;
  margin-top: 88px;
  margin-left: 40px;
}
.repeat {
  height: 156px;
  -webkit-box-shadow: 0px 0px 15px 4px #e5dddd ;
  -moz-box-shadow: 0px 0px 15px 4px #e5dddd ;
  box-shadow: 0px 0px 15px 4px #e5dddd ;
  border-radius: 6px;
  position: relative;
}
.repeat-body {
  padding-top: 14px;
  padding-left: 70px;
}
.repeat-text {
  width: 120px;
  height: 34px;
  padding: 0;
  margin-top: 11px;
  margin-left: 72px;
}
.forms {
  position: relative;
  height: 667px;
  margin: 78px auto;
  -webkit-box-shadow: 0px 0px 15px 4px #e5dddd ;
  -moz-box-shadow: 0px 0px 15px 4px #e5dddd ;
  box-shadow: 0px 0px 15px 4px #e5dddd ;
}
.forms h2 {
  margin-top: 22px;
  font-size: 24px;
}
.forms h3 {
  font-size: 18px;
  text-align: center;
}
.forms-img {
  position: absolute;
  margin-left: 532px;
}
.forms-body {
  position: absolute;
  margin-top: 27px;
  margin-left: 34px;
}
.forms-body h4 {
  margin-bottom: 20px;
}
.forms-body-title2 {
  margin-top: 37px;
}
.forms-body span {
  margin-left: 16px;
  text-decoration: underline;
}
.forms-body h3 {
  margin-top: 80px;
  font-size: 18px;
}
.forms-input-left {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 14px;
}
.forms-input-right {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  margin-left: 31px;
  font-size: 14px;
}
.block-bottom {
  margin-top: 375px;
}
.vvv {
  -webkit-box-shadow: 0px 0px 0px 0px #ffffff ;
  -moz-box-shadow: 0px 0px 0px 0px #ffffff ;
  box-shadow: 0px 0px 0px 0px #ffffff ;
}
.footer {
  width: 100%;
  height: 292px;
  background-color: #4A555E;
  margin: 0 auto;
  color: #F2F2F2;
}
.footer-body {
  display: flex;
}
.footer-body-item1 {
  width: 170px;
}
.footer-body-item1 img {
  margin-top: 59px;
  margin-bottom: 21px;
}
.footer-body-item2 {
  margin-left: 130px;
  margin-top: 69px;
}
.footer-body-item2 p {
  line-height: 1.5;
}
.footer-body-item3 {
  margin-left: 136px;
  margin-top: 69px;
}
.footer-body-item3 h4 {
  margin-bottom: 14px;
}
.footer-body-item3-iqon {
  width: 146px;
  height: 42px;
}
.footer-body-item4 {
  margin-left: 98px;
  margin-top: 69px;
}
.footer-body-item4 img {
  margin-top: 18px;
}
.nnn {
  margin-left: 0;
}
